body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 32px;
    color: #28a745;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.playlist {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.playlist-input,
.song-input {
    margin-top: 10px;
}

.playlist-input input,
.song-input input {
    padding: 8px;
    margin-right: 5px;
    width: 70%;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.playlist-button {
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.playlist-button:hover {
    background-color: darkgreen;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

li {
    margin: 5px 0;
}

.songs-section {
    margin-top: 20px;
    text-align: left;
}

