.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    justify-content: flex-start;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 ;
    /* margin-bottom: 20px; */
}

.search-container input {
    flex: 1;
    padding: 10px;
    margin: 0 !important;

    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    border-right: none;
}

.search-container button {
    padding: 10px 20px;
    background-color: #2563eb;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #1e4eb4;
}

.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    overflow-y: auto !important;
    padding: 0rem 2rem;
    box-sizing: border-box;
    gap: 20px;

}

.song-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 30%;
    height: 220px;
    box-sizing: border-box;
    text-align: left;
    background-color: #404040;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.line{
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.song-card img {
    max-width: 100px;
    border-radius: 8px;
    border-radius: 8px;
    aspect-ratio: 1 / 1;
}

.song-card h3 {
    font-size: 20px;
    color: #2563eb;
    font-family: Arial, sans-serif;
    margin-bottom: 8px;
}

.song-card p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.song-card a {
    color: #2563eb;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.song-card a:hover {
    text-decoration: underline;
}

.playlist-select{
    height: 100%;
}